.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;

  .list-container {
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .list-item {
      padding: 8px;
      margin: 5px 0;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: grab;
      transition: background-color 0.2s ease;

      &.placeholder {
        background-color: #cce5ff;
        border: 1px dashed #007bff;
      }

      &.no-drop {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        cursor: not-allowed;
      }

      &:active {
        cursor: grabbing;
      }
    }
  }

  .updated-list {
    width: 60%;
    margin-top: 20px;
    ul {
      list-style: none;
      padding: 0;
      font-family: 'Courier New', Courier, monospace;
    }

    li {
      padding: 10px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 6px;
      margin: 8px 0;
      font-family: 'Courier New', Courier, monospace;
      white-space: pre-wrap;
    }

    h3 {
      text-align: center;
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: #555;
    }
  }
}
